html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  font-family: "Helvetica Neue";
  font-size: 16px;
}

header {
  background-color: #174dba;
  padding: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  z-index: 99;
}
header .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
header .image-container img {
  height: 100%;
}

main {
  background-color: #eff0f3;
  width: inherit;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  height: inherit;
  padding: 0px 24px 40px 24px;
}
main .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  width: 100%;
  flex: 1;
}
main .container h1 {
  color: #174dba;
  margin: 0px;
  padding: 0px;
  margin-top: 120px;
  font-size: 48px;
}
main .container span {
  color: #505050;
  align-self: flex-end;
}
main .container .users {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  gap: 40px 40px;
  width: 100%;
  flex: 1;
}
main .container .users .user {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  align-items: center;
  padding: 48px 48px;
  position: relative;
}
main .container .users .user button {
  border: none;
  background-color: transparent;
  outline: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
main .container .users .user button img {
  height: 24px;
}
main .container .users .user .picture-name {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  user-select: none;
}
main .container .users .user .picture-name img {
  height: 120px;
  border-radius: 50%;
}
main .container .users .user .picture-name span {
  font-size: 32px;
  font-weight: bold;
  color: #174dba;
}
main .container .users .user span {
  align-self: center;
  color: #505050;
  font-size: 22px;
}
main .container .users #load-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #174dba;
  -webkit-animation: load-icon-spin 2s linear infinite;
  animation: load-icon-spin 2s linear infinite;
}
main .container #items-shown {
  display: block;
  text-align: end;
  font-size: 22px;
}

@-webkit-keyframes load-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes load-icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 850px) {
  main .container .users {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 520px) {
  main {
    padding: 0px 10% 40px 10%;
  }
}
@media only screen and (min-width: 1300px) {
  main .container .users {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 850px) and (min-height: 2350px), screen and (min-width: 850px) and (min-height: 1300px), screen and (min-width: 1300px) and (min-height: 960px) {
  main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
  }
}

/*# sourceMappingURL=lista-usuarios.css.map */
