@font-face {
  font-family: "Helvetica Neue";
  src: url("../../assets/fonts/helveticaneue/HelveticaNeue Medium.ttf");
}
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  font-family: "Helvetica Neue";
  font-size: 1rem;
}

header {
  background-color: #174dba;
  padding: 10px;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 4.5rem;
  z-index: 99;
  user-select: none;
}
header .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
header .image-container img {
  height: 100%;
}

main {
  background-color: #eff0f3;
  width: inherit;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  height: inherit;
}
main form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 5.5rem 4.5rem 5.5rem;
  background-color: #ffffff;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin: 0rem auto;
  width: 100%;
  margin-top: 4.5rem;
}
main form .form-header {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main form .form-header h3 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0rem;
  margin: 0rem;
  color: #174dba;
  user-select: none;
}
main form .form-main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
main form .form-main .form-area {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
main form .form-main .form-area .input-group {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  width: 100%;
  align-items: start;
  justify-items: stretch;
  justify-content: center;
  align-content: center;
}
main form .form-main .form-area .input-group .input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem;
  color: #174dba;
  width: 100%;
}
main form .form-main .form-area .input-group .input-container input {
  border: 1px solid #174dba;
  width: 100%;
  padding: 0.875rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  background-color: #ffffff;
}
main form .form-main .form-area button {
  outline: none;
  border: none;
  padding: 0.875rem 7.625rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  background-color: #174dba;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: background-color ease 0.3s;
}
main form .form-main .form-area button:hover {
  background-color: #1545A7;
}
main form span {
  color: #505050;
}
main form span a {
  text-decoration: none;
  color: #174dba;
  transition: color ease 0.3s;
}
main form span a:hover {
  color: #1545A7;
}

@media only screen and (min-width: 600px) {
  main form {
    width: fit-content;
    margin: 4.5rem auto;
    margin-top: 7.5rem;
  }
}
@media only screen and (min-width: 425px) and (min-height: 650px), screen and (max-width: 600px) and (min-height: 500px) {
  main {
    display: flex;
  }
}

/*# sourceMappingURL=login.css.map */
