@import "global.scss";

header {
    background-color: $primary;
    padding: 10px;
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 4.5rem;
    z-index: 99;
    user-select: none;

    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        img {
            height: 100%;
        }
    }
}

main {
    background-color: $gray;
    width: inherit;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: inherit;
    padding: 0rem 1.5rem 2.5rem 1.5rem;

    .container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        gap: 3.5rem;
        width: 100%;
        flex: 1;

        h1 {
            color: $primary;
            margin: 0rem;
            padding: 0rem;
            margin-top: 7.5rem;
            font-size: 3rem;
            user-select: none;
        }

        span {
            color: $dark;
            align-self: flex-end;
        }

        .users {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            align-items: stretch;
            align-content: stretch;
            gap: 4rem;
            width: 100%;
            flex: 1;
            max-height: 65%;

            .user {
                background-color: #ffffff;
                border-radius: 0.75rem;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                gap: 1rem;
                width: 100%;
                align-items: center;
                padding: 3rem 3rem;
                position: relative;

                button {
                    border: none;
                    background-color: transparent;
                    outline: none;
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    cursor: pointer;

                    img {
                        height: 2rem;
                    }
                }

                .picture-name {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    gap: 0.75rem;
                    cursor: pointer;
                    user-select: none;

                    img {
                        height: 7.5rem;
                        border-radius: 50%;
                    }

                    span {
                        font-size: 2rem;
                        font-weight: bold;
                        color: $primary;
                    }
                }

                span {
                    align-self: center;
                    color: $dark;
                    font-size: 1.375rem;
                }
            }

            #load-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                z-index: 1;
                width: 7.5rem;
                height: 7.5rem;
                margin: -4.75rem 0 0 -4.75rem;
                border: 1rem solid $white;
                border-radius: 50%;
                border-top: 1rem solid $primary;
                -webkit-animation: load-icon-spin 2s linear infinite;
                animation: load-icon-spin 2s linear infinite;
            }
        }

        #items-shown {
            display: block;
            text-align: end;
            font-size: 1.375rem;
        }
    }
}

@-webkit-keyframes load-icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes load-icon-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 850px) {
    main .container .users {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 520px) {
    main {
        padding: 0rem 10% 2.5rem 10%;
    }
}

@media only screen and (min-width: 1300px) {
    main .container .users {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 850px) and (min-height: 2350px),
    screen and (min-width: 850px) and (min-height: 1300px),
    screen and (min-width: 1300px) and (min-height: 1100px) {
    main {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
        justify-content: center;
    }
}
