@import "global.scss";

header {
    background-color: $primary;
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    z-index: 99;

    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        img {
            height: 100%;
        }
    }
}

main {
    background-color: $gray;
    width: inherit;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: inherit;
    padding: 0px 24px 40px 24px;

    h1 {
        color: $primary;
        margin: 0px;
        padding: 0px;
        margin-top: 120px;
        font-size: 48px;
    }

    span {
        color: $dark;
        align-self: flex-end;
    }

    .users {
        display: grid;
        flex: 1;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: stretch;
        justify-items: stretch;
        align-content: space-evenly;
        gap: 40px 40px;
        width: 100%;
        padding: 32px 0px;

        .user {
            background-color: $white;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            gap: 10px;
            width: 100%;
            align-items: center;
            padding: 48px 48px;
            position: relative;

            button {
                border: none;
                background-color: transparent;
                outline: none;
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;

                img {
                    height: 24px;
                }
            }

            .picture-name {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: center;
                gap: 12px;
                cursor: pointer;
                user-select: none;

                img {
                    height: 120px;
                    border-radius: 50%;
                }

                span {
                    font-size: 32px;
                    font-weight: bold;
                    color: $primary;
                }
            }

            span {
                align-self: center;
                color: $dark;
                font-size: 22px;
            }
        }

        #load-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 120px;
            height: 120px;
            margin: -76px 0 0 -76px;
            border: 16px solid $white;
            border-radius: 50%;
            border-top: 16px solid $primary;
            -webkit-animation: load-icon-spin 2s linear infinite;
            animation: load-icon-spin 2s linear infinite;
        }
    }

    #items-shown {
        display: block;
        text-align: end;
        font-size: 22px;
    }
}

@-webkit-keyframes load-icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes load-icon-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 600px) {
    main .users {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 570px) {
    main {
        padding: 0px 10% 40px 10%;
    }
}

@media only screen and (min-width: 1024px) {
    main .users {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 600px) and (min-height: 1900px),
    screen and (min-width: 600px) and (min-height: 1100px),
    screen and (min-width: 1024px) and (min-height: 800px) {
    main {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
        justify-content: center;
    }
}
