@import "./global.scss";

header {
    background-color: $primary;
    padding: 10px;
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 4.5rem;
    z-index: 99;
    user-select: none;

    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        img {
            height: 100%;
        }
    }
}

main {
    background-color: $gray;
    width: inherit;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: inherit;

    form {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 2rem 5.5rem 4.5rem 5.5rem;
        background-color: $white;
        font-size: 1rem;
        border-radius: 0.5rem;
        margin: 0rem auto;
        width: 100%;
        margin-top: 4.5rem;

        .form-header {
            display: flex;
            align-content: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: 2rem;
                font-weight: bold;
                padding: 0rem;
                margin: 0rem;
                color: $primary;
                user-select: none;
            }
        }

        .form-main {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;

            .form-area {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: center;
                gap: 3rem;

                .input-group {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 1.5rem;
                    width: 100%;
                    align-items: start;
                    justify-items: stretch;
                    justify-content: center;
                    align-content: center;

                    .input-container {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        gap: 0.25rem;
                        color: $primary;
                        width: 100%;

                        input {
                            border: 1px solid $primary;
                            width: 100%;
                            padding: 0.875rem 1rem;
                            border-radius: 0.5rem;
                            outline: none;
                            background-color: $white;
                        }
                    }
                }

                button {
                    outline: none;
                    border: none;
                    padding: 0.875rem 7.625rem;
                    text-transform: uppercase;
                    border-radius: 0.5rem;
                    background-color: $primary;
                    font-weight: bold;
                    color: $white;
                    cursor: pointer;
                    transition: background-color ease 0.3s;

                    &:hover {
                        background-color: #1545A7;
                    }
                }
            }
        }

        span {
            color: $dark;

            a {
                text-decoration: none;
                color: $primary;
                transition: color ease 0.3s;

                &:hover {
                    color: #1545A7;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    main form {
        width: fit-content;
        margin: 4.5rem auto;
        margin-top: 7.5rem;
    }
}

@media only screen and (min-width: 425px) and (min-height: 650px),
    screen and (max-width: 600px) and (min-height: 500px) {
    main {
        display: flex;
    }
}
