header {
    background-color: var(--primary);
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.image-container img {
    height: 100%;
}

main {
    background-color: var(--gray);
    width: inherit;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    height: inherit;
    padding-top: 60px;
}

.cadastro-container {
    padding: 32px 56px;
    background-color: var(--white);
    font-size: 16px;
    border-radius: 5px;
    margin: 0px auto;
    width: 100%;
    overflow: scroll;
    height: 100%;
}

.form-header {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastro-container h3 {
    font-size: 32px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    color: var(--primary);
}

.cadastro-container form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.input-group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    width: 100%;
    align-items: start;
    justify-items: stretch;
    justify-content: center;
    align-content: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    color: var(--primary);
    width: 100%;
}

.input-container small {
    color: var(--dark);
}

.input-container input,
.input-container select {
    border: 1px solid var(--primary);
    width: 100%;
    padding: 10px 16px;
    border-radius: 10px;
    outline: none;
    background-color: var(--white);
}

.select-area {
    width: 100%;
    display: flex;
    position: relative;
}

.input-container select {
    appearance: none;
    outline: none;
    display: flex;
    cursor: pointer;
}

.input-container select:active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.select-area:has(select)::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--primary);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    position: absolute;
    top: 40%;
    right: 10px;
    cursor: pointer;
}

.radio-group {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
}

.radio-item {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 4px;
    line-height: 5px;
}

.radio-item *,
.radio-item {
    cursor: pointer;
}

form button {
    outline: none;
    border: none;
    padding: 12px 96px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--primary);
    font-weight: bold;
    color: var(--white);
    cursor: pointer;
}

.form-footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.login {
    color: var(--dark);
}

.login a {
    text-decoration: none;
    color: var(--primary);
}

@media only screen and (min-width: 425px) {
    .login-container {
        padding: 24px 48px;
    }
}