:root {
    --primary: #174DBA;
    --gray: #EFF0F3;
    --white: #FFFFFF;
    --dark: #505050;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Helvetica";
}

/* body{
    background-color: var(--gray);
} */