header {
    background-color: var(--primary);
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.image-container img {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--gray);
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: calc(100% - 60px);
    padding: 48px 176px;
}

main h1 {
    color: var(--primary);
    margin: 0px;
    padding: 0px;
}

main span {
    color: var(--dark);
    align-self: flex-end;
}

.users {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
    gap: 20px 40px;
    width: 100%;
    padding: 32px 0px;
}

.user {
    width: 300px;
    height: 200px;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.picture-name {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.user img{
    height: 100px;
    border-radius: 50%;
}

.user span {
    align-self: center;
    color: var(--dark);
}

.picture-name span{
    font-size: 22px;
    font-weight: bold;
    color: var(--primary);
}