header {
    background-color: var(--primary);
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    z-index: 99;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.image-container img {
    height: 100%;
}

main {
    background-color: var(--gray);
    width: inherit;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    height: inherit;
    padding: 0px 24px 40px 24px;
}

main h1 {
    color: var(--primary);
    margin: 0px;
    padding: 0px;
    margin-top: 120px;
}

main span {
    color: var(--dark);
    align-self: flex-end;
}

.users {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    align-content: space-evenly;
    gap: 40px 40px;
    width: 100%;
    padding: 32px 0px;
}

.user {
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    align-items: center;
    min-height: 224px;
    position: relative;
}

.picture-name {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    user-select: none;
}

.user img {
    height: 70px;
    border-radius: 50%;
}

.user span {
    align-self: center;
    color: var(--dark);
}

.picture-name span {
    font-size: 22px;
    font-weight: bold;
    color: var(--primary);
}

.user button {
    border: none;
    background-color: transparent;
    outline: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.user button img {
    height: 24px;
}

#items-shown {
    display: block;
    text-align: end;
}


@media only screen and (min-width: 600px) {
    .users {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 560px) {
    main {
        padding: 0px 10% 40px 10%;
    }
}

@media only screen and (min-width: 1024px) {
    .users {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 600px) and (min-height: 1900px),
screen and (min-width: 600px) and (min-height: 1100px),
screen and (min-width: 1024px) and (min-height: 800px) {
    main {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
        justify-content: center;
    }
}